  *{
    padding: 0;
    margin: 0;
  }
  *,
  *::after,*::before{
    box-sizing: border-box;
  }
  
  body {
      background-color: #021823;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .load {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
      overflow: hidden;
  }

  img {
      width: 300px;
      height: 300px;
      margin-top: -500px;
      background: transparent;
      animation: image 3s forwards;
  }

  .najot {
      margin-top: -200px;
      animation: text 0.5s linear 0s forwards;
  }

  @keyframes image {
      0% {
          margin-top: -200px;
      }

      50% {
          margin-top: 100px;
          width: 400px;
          height: 400px;
      }

      100% {
          margin-top: 0px;
          width: 300px;
          height: 300px;
      }
  }

  @keyframes text {
      0% {
          margin-top: -200px;
      }

      100% {
          margin-top: 0px;
      }
  }

  .najot:nth-child(11) {
      animation-delay: 2.1s;
  }

  .najot:nth-child(10) {
      animation-delay: 2.2s;
  }

  .najot:nth-child(9) {
      animation-delay: 2.3s;
  }

  .najot:nth-child(8) {
      animation-delay: 2.4s;
  }

  .najot:nth-child(7) {
      animation-delay: 2.5s;
  }

  .najot:nth-child(5) {
      animation-delay: 2.5s;
  }

  .najot:nth-child(4) {
      animation-delay: 2.4s;
  }

  .najot:nth-child(3) {
      animation-delay: 2.3s;
  }

  .najot:nth-child(2) {
      animation-delay: 2.2s;
  }

  .najot:nth-child(1) {
      animation-delay: 2.1s;
  }